{% extends 'layout.jinja2' %}

{% block styles %}
    <link
            rel="stylesheet"
            href="{{ url_for('static', filename='css/style.css') }}"
            type="text/css"
    />
{% endblock %}

{% block content %}


<div class="success-wrapper">
    <table class = 'table-fill'>
    <caption class= "table-title"><h3 class='table-title'>{{state}}, {{district}}</h3></caption>
        <thead class='table-hover'>
            <tr>
                <th class="text-left">
                    Name
                </th>
                <th class="text-left">
                    Address
                </th>
                <th class="text-left">
                    Fee
                </th>
                <th class="text-left">
                    Vaccine
                </th>
                <th class="text-left">
                    Date
                </th>
                <th class="text-left">
                    Availability
                </th>
                <th class="text-left">
                    Minimum Age
                </th>
                <th class="text-left">
                    Slots
                </th>
            </tr>
        </thead>
        <tbody class = 'table-hover'>
            {% for t in data.values %}
                    <tr onclick="window.location.href='{{ url_for('index')}}';">
                        <td class="text-left" id = 'url'>
                            {{t[1]}}
                        </td>
                        <td class="text-left">
                            {{t[2]}}
                        </td>
                        <td class="text-left">
                            {{t[11]}}
                        </td>
                        <td class="text-left">
                            {{t[12][0]['vaccine']}} <br/>({{t[12][0]['fee']}})
                        </td>
                        <td class="text-left">
                            {{t[13]}}
                        </td>
                        <td class="text-left">
                            {{t[14]}}
                        </td>
                        <td class="text-left">
                            {{t[15]}}+
                        </td>
                        <td class="text-left">
                            {{t[17]}}
                        </td>
                    </tr>
            {%endfor%}
        </tbody>
    </table>
</div>
{% endblock %}